.card {
  display: flex;
  justify-content: space-around;
  width: 270px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}
.namesList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 0;
}
.icon {
  margin-right: 6px;
}
